<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>destination</key>
	<string>export</string>
	<key>method</key>
	<string>app-store</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.jiuziran.WineGroup</key>
		<string>cus.dis.looha</string>
	</dict>
	<key>signingCertificate</key>
	<string>681C3F085CDE5610F3AC3B28D1AAA0CCB769925D</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>HJTXHYJ27H</string>
	<key>uploadSymbols</key>
	<true/>
</dict>
</plist>
